@{

    Layout = "~/Views/Shared/LayoutProjeto.cshtml";

}

<a asp-action="MenuCadastrosFuncionarios" class="btn btn-primary btn-lg btn-block">Funcionarios</a>

<a asp-action="MenuCadastrosProjetos" class="btn btn-primary btn-lg btn-block">Projetos</a>

<a asp-action="MenuCadastrosClientes" class="btn btn-primary btn-lg btn-block">Clientes</a>
