@{

    Layout = "~/Views/Shared/LayoutProjeto.cshtml";

}


<a  class="btn btn-primary btn-lg btn-block">Cadastro de projeto</a>

<a  class="btn btn-primary btn-lg btn-block">Listagem de projetos cadastrados</a>
