@{

    Layout = "~/Views/Shared/LayoutProjeto.cshtml";

}


<a  class="btn btn-primary btn-lg btn-block">Cadastro de clientes</a>

<a  class="btn btn-primary btn-lg btn-block">Listagem de clientes cadastrados</a>
