
@{
    List<Cliente> clientes = ViewBag.Cliente;
    Layout = "~/Views/Shared/LayoutAdm.cshtml";
}

<div class="container" style="margin-top:30px;margin-bottom:30px">
    <h2>Gerenciamento</h2>
    <a asp-action="Cadastrar" class="btn btn-primary">Cadastrar</a>
    <br /><br />
    <table class="table table-hover">
        <thead>
            <tr>
                <th width="101">Nome:</th>

                <th width="101"></th>

            </tr>
        </thead>
        <tbody>
            @foreach (Cliente cliente in clientes)
            {
                <tr>
                    <td>@cliente.Nome</td>

                </tr>
            }

        </tbody>
    </table>
</div>