@inject Microsoft.AspNetCore.Identity.SignInManager<UsuarioLogado> SignManager
@inject Microsoft.AspNetCore.Identity.UserManager<UsuarioLogado> UserManager
<!DOCTYPE html>

<html>
<head>
    <link href="~/css/bootstrap.min.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="#">MyTeamTasks Recomeço</a>

        <div class="collapse navbar-collapse" id="navbarColor01" style="text-align:center">
            <ul class="navbar-nav mr-auto">
                @*<li class="nav-item active">
                <a asp-controller="Tarefa" asp-action="ListagemTarefa" class="nav-link">Menus <span class="sr-only">(current)</span></a>
            </li>*@
                <li class="nav-item active">
                    <a asp-controller="Funcionario" asp-action="MenuAdm" class="nav-link">Cadastros <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a asp-controller="Funcionario" asp-action="MenuAdmListagem" class="nav-link">Listagem <span class="sr-only">(current)</span></a>
                </li>

            </ul>
            <ul class="navbar-nav mr-auto">
                @if (SignManager.IsSignedIn(User))
                {
                <li class="nav-item active">
                    <a asp-controller="Funcionario" asp-action="Logout"
                       class="nav-link">Olá @UserManager.GetUserName(User) -Logout<span class="sr-only">(current)</span></a>
                </li>
                }
                else
                {
                <li class="nav-item active">
                    <a asp-controller="Funcionario" asp-action="Login"
                       class="nav-link">Login<span class="sr-only">(current)</span></a>
                </li>
                }
            </ul>
        </div>
    </nav>
    <div class="m-5">
        @RenderBody()
    </div>
    <footer>
        <p style="text-align:center">
            &copy;@DateTime.Now.Year - Desenvolvido por Pedro Augusto e Ronaldo Gomes
        </p>
    </footer>
</body>
</html>
