<!DOCTYPE html>

<html>
<head>
    <link href="~/css/bootstrap.min.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
   
    <div class="m-5">
        @RenderBody()
    </div>
    <footer>
        <p style="text-align:center">
            &copy;@DateTime.Now.Year - Desenvolvido por Pedro Augusto e Ronaldo Gomes
        </p>
    </footer>
</body>
</html>
