@model Tarefa
@{

    Layout = "~/Views/Shared/LayoutGestor.cshtml";

}

<form asp-action="Cadastrar" method="post">
    <fieldset>
        <legend>Cadastrar Tarefa</legend>
        <div asp-validation-summary="ModelOnly"
             class="text-primary"></div>

        <div class="form-group" id="Nome">
            <label asp-for="Titulo"></label>
            <input type="text" asp-for="Titulo"
                   class="form-control" />
            <span asp-validation-for="Titulo"
                  class="text-primary"></span>
        </div>
        <div id="Projeto" class="form-group">
            <label>Projeto:</label>
            <select asp-items="@ViewBag.Projetos"
                    class="form-control" name="idProjeto">
                <option> -- SELECIONE -- </option>
            </select>
        </div>
        <div id="PessoaId" class="form-group">
            <label>Requisitante:</label>
            <select asp-items="@ViewBag.Requisitante"
                    class="form-control" name="idRequisitante">
                <option> -- SELECIONE -- </option>
            </select>
        </div>
        <div id="PessoaId" class="form-group">
            <label>Realizador:</label>
            <select asp-items="@ViewBag.Assinatura"
                    class="form-control" name="idAssinatura">
                <option> -- SELECIONE -- </option>
            </select>
        </div>
        <div class="form-group" id="Status">
            <label asp-for="Status"></label>
            <input type="text" asp-for="Status"
                   class="form-control" />
            <span asp-validation-for="Status"
                  class="text-primary"></span>
        </div>

        <input type="submit" class="btn btn-success"
               value="Cadastrar" />
    </fieldset>
</form>


