
@{
   
    Layout = "~/Views/Shared/LayoutProjeto.cshtml";

}

<form asp-action="Cadastrar" method="post">
    <fieldset>
        <div class="form-group">
            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Nome" name="txtNome" /><br />
            <input type="submit" value="Cadastrar" class="btn btn-primary" />
        </div>
    </fieldset>
</form>

