
@{
   @model Funcionario
    Layout = "~/Views/Shared/LayoutProjeto.cshtml";

}

<form asp-action="Cadastrar" method="post">
    <fieldset>
        <div class="form-group">
            <label asp-for="Endereco.Cep"></label>
            <input type="text" class="form-control" asp-for="Endereco.Cep" />

        </div>
        <input type="submit" class="btn btn-info" value="Buscar" asp-action="BuscarCep" asp-controller="Funcionario" />
        <div class="form-group">
            <label asp-for="Endereco.Logradouro"></label>
            <input type="text" class="form-control" asp-for="Endereco.Logradouro" />
        </div>

        <div class="form-group">
            <label asp-for="Endereco.Bairro"></label>
            <input type="text" class="form-control" asp-for="Endereco.Bairro" />

        </div>

        <div class="form-group">
            <label asp-for="Endereco.Uf"></label>
            <input type="text" class="form-control" asp-for="Endereco.Uf" />
        </div>
    </fieldset>
    <fieldset>
        <legend>Cadastrar Funcionario</legend>
        <div asp-validation-summary="ModelOnly"
             class="text-primary"></div>
        <div class="form-group" id="Nome">
            <label asp-for="Nome"></label>
            <input type="text" asp-for="Nome"
                   class="form-control" />
            <span asp-validation-for="Nome"
                  class="text-primary"></span>
        </div>
        <div class="form-group" id="Descricao">
            <label asp-for="Cargo"></label>
            <input type="text" asp-for="Cargo"
                   class="form-control" />
        </div>
        <div class="form-group" id="Preco">
            <label asp-for="Login"></label>
            <input type="text" asp-for="Login"
                   class="form-control" />
        </div>
        <div class="form-group" id="Quantidade">
            <label asp-for="Senha"></label>
            <input type="text" asp-for="Senha"
                   class="form-control" />
        </div>
        <input type="submit" class="btn btn-success"
               value="Cadastrar" />
    </fieldset>
</form>


