
@{
    List<Funcionario> funcionarios = ViewBag.Funcionarios;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>

    <h2>Gerenciamento</h2>
    <a asp-action="Cadastrar">Cadastrar</a>
    <br /><br />
    <table width="600" border="1" bgcolor="#CCC">
        <thead>
            <tr>
                <th width="101">Nome:</th>

                <th width="101"></th>

            </tr>
        </thead>
        <tbody>
            @foreach (Funcionario funcionario in funcionarios)
            {
                <tr>
                    <td>@funcionario.Nome</td>
                    <td>
                        <a asp-action="Remover" asp-route-id="@funcionario.PessoaId">Remover</a>
                        <a asp-action="Alterar" asp-route-id="@funcionario.PessoaId">Alterar</a>
                    </td>
                </tr>
            }

        </tbody>
    </table>

</body>
</html>
