
@{
    List<Funcionario> funcionarios = ViewBag.Funcionarios;
    Layout = "~/Views/Shared/LayoutAdm.cshtml";

}


<div class="container" style="margin-top:30px;margin-bottom:30px">
    <h2>Gerenciamento</h2>
    <a asp-action="Cadastrar" class="btn btn-primary">Cadastrar</a>
    <br /><br />
    <table class="table table-hover">
        <thead>
            <tr>
                <th width="101">Nome:</th>
                <th width="101">Cargo:</th>

                <th width="101"></th>

            </tr>
        </thead>
        <tbody>
            @foreach (Funcionario funcionario in funcionarios)
            {
                if (funcionario.Status != 0 ) {

                <tr>
                    <td>@funcionario.Nome</td>
                    <td>
                        <a asp-action="Remover" asp-route-id="@funcionario.PessoaId">Remover</a>
                        <a asp-action="Alterar" asp-route-id="@funcionario.PessoaId">Alterar</a>
                    </td>
                </tr>
                }
            }

        </tbody>
    </table>
</div>


