
@{
    Layout = "~/Views/Shared/LayoutDev.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Menu Dev</title>
</head>
<body>
    
</body>
</html>
