
@{
    List<Projeto> projetos = ViewBag.Projeto;
    Layout = "~/Views/Shared/LayoutGestor.cshtml";
}

<div class="container" style="margin-top:30px;margin-bottom:30px">
    <h2>Listagem Projeto</h2>
    <br /><br />
    <table class="table table-hover">
        <thead>
            <tr>
                <th width="101">Nome:</th>

                <th width="101"></th>

            </tr>
        </thead>
        <tbody>
            @foreach (Projeto projeto in projetos)
            {
                <tr>
                    <td>@projeto</td>
                </tr>
            }

        </tbody>
    </table>
</div>